<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CPIS_358_project</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CPIS_358_project.styles.css" asp-append-version="true" />
    <style>
        nav a {
            text-decoration: none;
            color: black;
        }

        /* the outside look of the links */
        nav button {
            padding: 18px 10px;
            background-color: #cfa382;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            /* when we point the mouse in the link */

            nav button:hover {
                background-color: #fffcf9;
            }

        main {
            margin-top: 90px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-lightborder-bottom  box-shadow mb-3" style="background-color: #412323; border-color: #D2A679; border-radius:10px; padding:20px;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a> |
                        </li>
                        <li class="nav-item">
                            <a class="nav-btn" asp-area="" asp-controller="Home" asp-action="Store">Store</a> |
                        </li>
                        <li class="nav-item">
                            <a class="nav-btn" asp-area="" asp-controller="Services" asp-action="Index">Services</a> |
                        </li>
                        <li class="nav-item">
                            <a class="nav-btn" asp-area="" asp-controller="Home" asp-action="ProductInfo">Product Info</a> |
                        </li>
                        <li class="nav-item">
                            <a class="nav-btn" asp-area="" asp-controller="Home" asp-action="About">About Us</a> |
                        </li>
                        <li class="nav-item">
                            <a class="nav-btn" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a> |
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-btn" asp-area="" asp-controller="Account" asp-action="Index">Account</a> |
                      @if (User.Identity.IsAuthenticated)
                            {
                         <li class="nav-item" style="margin-left: auto; display: flex; align-items: center;">
                            <span class="nav-link text-dark" style="border:none; border-radius:5px; background-color:beige">Hello @User.Identity.Name!</span> |
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-btn">Logout</button>
                            </form>
                          </li>
                             }
                      else
                            {
                          <li class="nav-item" style="margin-left: auto;">
                            <a class="nav-btn" asp-area="Identity" asp-page="/Account/Login">Log In</a> |
                            <a class="nav-btn" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                           </li>
                            }                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CPIS_358_project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
