@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="margin-left: auto;">
            <a class="nav-btn" asp-area="Identity" asp-page="/Account/Login">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-btn" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
    else
    {
        <li class="nav-item" style="margin-left: auto;">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-btn btn btn-link">Logout</button>
            </form>
        </li>
    }
</ul>
