.secondary-button {
    background: transparent; 
    color: #c46a25;       
    border: 1px solid #c46a25;
    padding: 6px 15px;
    border-radius: 5px;
    text-decoration: none; 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

/* the back ground color of all the pages !!!!!!!!!!!!!!*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #f5e3cf; 
    text-align: center;
}

 
