.secondary-button {
    background: transparent; 
    color: #c46a25;       
    border: 1px solid #c46a25;
    padding: 6px 15px;
    border-radius: 5px;
    text-decoration: none; 
    
}


/* the back ground color of all the pages !!!!!!!!!!!!!!*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #f5e3cf; 
    padding: 20px;
    text-align: center;
}
/* here is the css styling for the filters*/
.store-filters h3 {
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
}
/* .store-filters ul , the display is set to none to hide the menu*/
.store-filters ul {
    display:none; 
    list-style: none;
    padding: 0;
}

.store-filters li {
    margin-bottom: 1rem;
}

.store-filters a {
    text-decoration: none;
    color: #333;
}
/*store-filters a:hover is for the color when user hovers over the filters */
.store-filters a:hover {
    color: #007BFF;
}
/*store-filters:hover ul displays the drop down menu when user hover over the sidebar*/
.store-filters:hover ul{
    display: block;
}

/*styling for the sidebar*/
.sidebar {
  float: left;
  width: 100%; 
  padding: 25;
  background: #f4f4f4; 
  box-sizing: border-box; 
  border-radius: 25px;
  border-style: groove;

}
/*styling for the product container justify-content aligns the product in this case in the center , 
flex-wrap: wrap makes the items go to the next line ,gap =20px to make a gap of 20px between each item*/
.product-container {
    width: 900px;
    max-width: 90vw;
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin :auto;
}
.product-item{
    text-align: center;
    border : 1px solid;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: lightgray;
    
}
.product-item img{
    
    width: 100%;   
    border-radius: 20px;    
    border: 1px solid;
    height: 150px;
    border: 1px solid #333;  
}

.product-item h4{
    margin: 10px 0 5px 0;
    font: 1em sans-serif;
}
.product-item button{
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: #b6a686;  
    color: whitesmoke;
    margin-top: 10px;
}

fieldset {
    border: 2px solid #c46a25;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border-width: thick;
    border-style: inset;
}

nav a {
        text-decoration: none;   
        color:black;          
    }
    
    /* the outside look of the links */
    nav button {
        padding: 8px 15px;
        background-color: #cfa382;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    /* when we point the mouse in the link */
    nav button:hover {
        background-color: #fffcf9;
    }

    .shopping-cart {
        border-radius: 10px;
       width: 40px;
       position: relative;
        right: 20px;
        z-index: 0;
        cursor: pointer;
    }
    .countItems {
        display:block;
        width:  20px;     
        position: absolute;
        top :60px;
        right: 47px;
        background-color: red;
        color: white;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    