@model CPIS_358_project.Models.ForgotPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<head>
    <title>Forgot Password</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/css/project_style.css">

    <script src="scripts.js"></script>

    <style>



        #loginBtn {
            display: none;
            /* before the submition the box will not appear */
            margin-top: 15px;
            padding: 12px 25px;
            background-color: #cfa382;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            #loginBtn:hover { /* when mouse is over the box */
                background-color: #fffcf9;
            }

            #loginBtn a { /* link text */
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-weight: bold;
            }
    </style>



    <script>
        function resetPassword() {
            // here we create vars
            // then assign the value of the specific form and names in the forms to them
            var mail = document.forms["forgotForm"]["UserE"].value;
            var pass1 = document.forms["forgotForm"]["NewP"].value;
            var pass2 = document.forms["forgotForm"]["ConfirmP"].value;

            // we see if user didnt enter anything in one of the fields
            if (mail == "" || pass1 == "" || pass2 == "") {
            alert("all the fields must not be empty");
            return false;
            }

            //here we call the functions that are in the
            //external scripts file and pass it the var that
            //we defined on top if its not the right validation
            //it will not submit form
            if (!validateEmail(mail)) return false;
            if (!validatePassword(pass1)) return false;

            //both of the passwords need to be the same
            if (pass1 !== pass2) {
                alert("the passwords are not the same");
                return false;
            }

            //if everything is correct a message will appear
            //alert("login successful");

            //here we make the button appears we call the disply and give it inlin block beacuse
            //it was display none in the styling
            document.getElementById("loginBtn").style.display = "inline-block";
            return true; // this will prevent the page to lose all the info after the user press submit
        }
    </script>


</head>



<body>

    <img src="/images/logo.png" usemap="#projectmap" class="project-logo">
    <map name="projectmap">
        <area shape="rect" coords="0,0,200,200" href="/Home/Index" alt="about.html">
    </map>

    <main>
        <h2 style="color: rgb(2,1,1); text-shadow: 1px 1px 10px rgb(73,52,38); font-style:italic;">
            Reset Your Password
        </h2>


        <form name="forgotForm" method="post" asp-action="ForgotPassword" asp-controller="Home" onsubmit="return resetPassword()">

            <div asp-validation-summary="ModelOnly" style="color:red"></div>

            <label>
                Enter Your Email:
                <input asp-for="UserE" type="email" name="UserE" placeholder="yourEmail@domain.com" required>
                <span asp-validation-for="UserE" style="color:red"></span>
            </label>

            <br>

            <label>
                New Password:
                <input asp-for="NewP" type="password" name="NewP" placeholder="**********" required>
                <span asp-validation-for="NewP" style="color:red"></span>
            </label>

            <br>

            <label>

                Confirm Password:
                <input asp-for="ConfirmP" type="password" name="ConfirmP" placeholder="**********" required>
                <span asp-validation-for="ConfirmP" style="color:red"></span>
            </label>



            <br><input type="submit" value="Submit New password">
            <input type="reset" value="Clear">

        </form>

        <a href="/Home/Login" class="nav-btn" id="loginBtn">Go to Login</a>


        <br><br>
        <footer>
            <nav>
                <a href="/Home/Index" class="nav-btn">Home Page</a> |
                <a href="/Home/Productinfo" class="nav-btn">Product Info Page</a> |
                <a href="/Home/Contact" class="nav-btn">Contact Us</a> |
                <a href="/Home/About" class="nav-btn">About Us</a>
            </nav>
        </footer>

    </main>

</body>

</html>