


<!DOCTYPE html>
<html>

<head>
    <title>Contact Us</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/css/project_style.css">

    <style>
        /* the text that are inside the buttons */
        nav a {
            text-decoration: none;
            color: black;
        }

        /* the outside look of the links */
        nav button {
            padding: 8px 15px;
            background-color: #cfa382;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            /* when we point the mouse in the link */
            nav button:hover {
                background-color: #fffcf9;
            }


        main {
            margin-top: 90px;
        }

        .backpic {
            position: absolute;
            top: 10%;
            left: 6%;
            width: 90%;
            opacity: 0.2; /* transparent */
            z-index: -1; /* behind all content */
            height: 51%;
        }

    </style>



</head>



<body>

    <!--logo bottom right-->
    <!-- the picture we will use with the usemape as a pointer to the map name -->
    <img src="/images/logo.png" usemap="#projectmap" class="project-logo">
    <map name="projectmap">
        <!--we were asked in the assigment word file to use mapping and pic mapping-->
        <!-- map basicly create a clickable region for an image-->
        <!-- area defins the looks and place of the reagion and if the region is clicked where does it take us -->
        <area shape="rect" coords="0,0,200,200" href="/Home/Index" alt="about.html">
    </map>

    <main>
        <h1 style="color: rgb(2, 1, 1); text-shadow: 1px 1px 10px rgb(73, 52, 38); font-style:italic;">Contact Us</h1>
        <!--nonvalidate beacuse the form isnt somthing important like login or pamynet its just messages to the company-->
        <form method="post" action="#" novalidate>

            <div>
                <label>
                    Name:
                    <input type="text" name="Name" placeholder="Your Name" required>
                </label>
            </div>


            <div>
                <label>
                    Email:
                    <input type="email" name="Email" placeholder="yourEmail@domain" required>
                </label>
            </div>


            <div>
                <label>
                    subject:
                    <select name="Subject" required>
                        <option value="" disabled selected>Select a subject</option>
                        <option value="general">General Inquiry</option>
                        <option value="service">Book a Service</option>
                        <option value="support">Support</option>
                        <option value="feedback">Question About Materials</option>
                        <option value="other">Other</option>
                    </select>
                </label>
            </div>


            <div>
                <label>
                    Message:
                    <textarea name="Message" placeholder="Your message here..." required rows="5" cols="25"></textarea>
                </label>
            </div>


            <div>
                <button type="submit">Send Message</button>
                <button type="reset">Reset</button>
            </div>

        </form>

    </main>

    <br>

    <!-- nav links that are buttons-->
    <footer>
        

        <!--whatsapp and email icon-->
        <div class="social-icons">
            <a href="https://wa.me/966500000000">
                <img src="/images/whatsapp-xxl.png" class="icon-img" alt="WhatsApp">
            </a>

            <a href="mailto:mohammedalsafh@gmail.com">
                <img src="/images/Gmail_Icon.png" class="icon-img" alt="Gmail">
            </a>
        </div>
    </footer>

    <!--background pic-->
    <img src="/images/contactpic.png" class="backpic">

</body>

</html>