.secondary-button {
    background: transparent; 
    color: #c46a25;       
    border: 1px solid #c46a25;
    padding: 6px 15px;
    border-radius: 5px;
    text-decoration: none; 
    
}


/* the back ground color of all the pages !!!!!!!!!!!!!!*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #f5e3cf; 
    padding: 20px;
    text-align: center;
}


/* here is the css styling for the filters*/
/*this whole section of styling is to make the filters look like a drop down menu where the user can toggle the products they wish to see*/
.store-filters h3 {
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
}

.store-filters ul {
    display:none; 
    list-style: none;
    padding: 0;
}

.store-filters li {
    margin-bottom: 1rem;
}

.store-filters a {
    text-decoration: none;
    color: #333;
}

.store-filters a:hover {
    color: #b6a686;
}

.store-filters:hover ul{
    display: block;
    cursor: pointer;
}

/*styling for the bar that contain the dropdown menu*/
.bar {
  float: left;
  width: 100%; 
  padding: 25px;
  background: #f4f4f4; 
  box-sizing: border-box; 
  border-radius: 25px;
  border-style: groove;

}

/* styling for the products container and each product item */
.product-container {
    width: 900px;
    max-width: 90vw;
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin :auto;
    
}
.product-item{   
    text-align: center;
    border : 1px solid;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: lightgray;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.747);  
}
.product-item img{
    width: 100%;   
    border-radius: 20px;    
    border: 1px solid;
    height: 150px;
    border: 1px solid #333;  
}
.product-item h5{
    margin: 10px 0 5px 0;
    font: 0.9em sans-serif;
    color: #412323;
}
.product-item h4{
    font-weight: bold;
    margin: 10px 0 5px 0;
    font: 1em sans-serif;
}
.product-item p{
    margin: 0;
    font: 0.9em sans-serif;
    color: #555;
}
.product-item button{
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: #b6a686;  
    color: whitesmoke;
    margin-top: 10px;
    
}

/* styling for the fieldset which contains all the products*/
fieldset {
    border: 2px solid #c46a25;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border-width: thick;
    border-style: inset;
}

nav a {
        text-decoration: none;   
        color:black;          
    }
    
   


     /*styling for the cart table*/
    .cart table{
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        font-family: Arial, sans-serif;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }  
    .cart img{
        width: 80px;
        height: auto;
        border-radius: 4px;
    }
    .cart tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .cart tbody tr{
        border-bottom: 1px solid black;
    }
    .cart tbody tr:hover{
        background-color: #cfb291;
        cursor:pointer
    }
    .total{
        font-weight: bold;
        font-size: 1.1em;
    }


    .social-icons {
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
}
.social-icons a {
    text-decoration: none;
}

.icon-img {
    width: 45px;
    height: 45px;
    margin: 50px 5px;
    cursor: pointer;
}
 .store-layout {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
 }

 /*only if the input was number this style will be appliesd*/
 input[type="number"]{
    width: 40px;
    text-align: center;
 }
  
/*for the internal links so it be smooth*/
html {
    scroll-behavior: smooth;
}

  
/* bottom right logo styling */
.project-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: auto;
    z-index: 5;
    cursor: pointer;
    opacity: 0.4;
}

.image-options {
    margin-top: 10px; 
    margin-bottom: 5px; 
}

/* the button that change the items pics */
.dynamic-pic-btn {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid #555;
    background-color: #f0f0f0;
    color: #333;
    margin: 0 3px; 
}
.dynamic-pic-btn:hover {
    background-color: #ddd;
}

/* the button for the payment when a cart gets an item */
.payment-btn-nav {
    padding: 8px 15px;
    background-color: #cfa382;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.payment-btn-nav:hover {
    background-color: #fffcf9;
}

.nav-btn {
    padding: 12px 15px;
    background-color: #cfa382;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: #fffcf9;
    cursor: pointer;
    
}