
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>About Us</title>

    <link rel="stylesheet" href="~/css/project_style.css">

    <style>

        /* the text that are inside the buttons */
        nav a {
            text-decoration: none;
            color: black;
        }

        /* the outside look of the links */
        nav button {
            padding: 8px 15px;
            background-color: #cfa382;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }


            /* when we point the mouse in the link */
            nav button:hover {
                background-color: #fffcf9;
            }

        ul {
            list-style-position: inside;
            text-align: center;
        }


        main {
            margin-top: 90px;
        }

        .backpic {
            position: absolute;
            top: 10%;
            left: 6%;
            width: 90%;
            opacity: 0.2; /* transparent */
            z-index: -1; /* behind all content */
            height: 51%;
        }

    </style>

</head>


<body>

    <!--logo bottom right-->
    <!-- the picture we will use with the usemape as a pointer to the map name -->
    <img src="/images/logo.png" usemap="#projectmap" class="project-logo">
    <map name="projectmap">
        <!--we were asked in the assigment word file to use mapping and pic mapping-->
        <!-- map basicly create a clickable region for an image-->
        <!-- area defins the looks and place of the reagion and if the region is clicked where does it take us -->
        <area shape="rect" coords="0,0,200,200" href="about.html" alt="about.html">
    </map>

    <main>

        <div>
            <h1 style="color: rgb(2, 1, 1); text-shadow: 1px 1px 10px rgb(73, 52, 38); font-style:italic;">About Us</h1>
            <h2>Our Mission</h2>
            <ul>
                <li>To provide high-quality building services.</li>
                <li>To ensure customer satisfaction through excellent service.</li>
                <li>To innovate and improve our construction techniques.</li>
            </ul>
        </div>

        <div>
            <h2>
                Our Solution
            </h2>
            <ul>
                <li><strong>A Complete Store:</strong> Get all your raw materials, smart-home tech, and even ready-made kitchens in one place.</li>
                <li><strong>An Expert Service Hub:</strong> Hire our vetted engineers for supervision or choose our all-in-one "Turn-Key" service to manage the entire build for you.</li>
                <li><strong>A Central Knowledge Hub:</strong>Learn about materials, compare designs, and get expert advice so you can build with confidence.</li>
            </ul>
        </div>

    </main>

    <!-- nav links that are buttons-->
    <footer>
        <nav>
            <a href="/Home/Index" class="nav-btn">Home Page</a> |
            <a href="/Home/Productinfo" class="nav-btn">Product Info Page</a>  |
            <a href="/Home/Store" class="nav-btn">Store Page</a> |
            <a href="/Home/Contact" class="nav-btn">Contact Us</a>|
            <a href="/Home/Login" class="nav-btn">Log In</a> |
            <a href="/Home/Signup" class="nav-btn">Sign Up</a>

        </nav>

        <!--whats app and email icons-->
        <div class="social-icons">
            <a href="https://wa.me/966500000000">
                <img src="/images/whatsapp-xxl.png" class="icon-img" alt="WhatsApp">
            </a>

            <a href="mailto:mohammedalsafh@gmail.com">
                <img src="/images/Gmail_Icon.png" class="icon-img" alt="Gmail">
            </a>
        </div>
    </footer>

    <!--background pic-->
    <img src="/images/aboutpic.png" class="backpic">
</body>
</html>