@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<head>
    <title>Forgot Password</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="project_style.css">

    <script src="scripts.js"></script>

    <style>



        #loginBtn {
            display: none; /* before the submition the box will not appear */
            margin-top: 15px;
            padding: 12px 25px;
            background-color: #cfa382;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            #loginBtn:hover { /* when mouse is over the box */
                background-color: #fffcf9;
            }

            #loginBtn a { /* link text */
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-weight: bold;
            }
    </style>



    <script>
        function resetPassword() {
            // here we create vars
            // then assign the value of the specific form and names in the forms to them
            var mail = document.forms["forgotForm"]["UserE"].value;
            var pass1 = document.forms["forgotForm"]["NewP"].value;
            var pass2 = document.forms["forgotForm"]["ConfirmP"].value;

            // we see if user didnt enter anything in one of the fields
            if (mail == "" || pass1 == "" || pass2 == "") {
            alert("all the fields must not be empty");
            return false;
            }

            //here we call the functions that are in the
            //external scripts file and pass it the var that
            //we defined on top if its not the right validation
            //it will not submit form
            if (!validateEmail(mail)) return false;
            if (!validatePassword(pass1)) return false;

            //both of the passwords need to be the same
            if (pass1 !== pass2) {
                alert("the passwords are not the same");
                return false;
            }

            //if everything is correct a message will appear
            alert("login successful");

            //here we make the button appears we call the disply and give it inlin block beacuse
            //it was display none in the styling
            document.getElementById("loginBtn").style.display = "inline-block";

            return false; // this will prevent the page to lose all the info after the user press submit
        }
    </script>


</head>



<body>

    <!--logo bottom right-->
    <!-- the picture we will use with the usemape as a pointer to the map name -->
    <img src="logo.png" usemap="#projectmap" class="project-logo">
    <map name="projectmap">
        <!--we were asked in the assigment word file to use mapping and pic mapping-->
        <!-- map basicly create a clickable region for an image-->
        <!-- area defins the looks and place of the reagion and if the region is clicked where does it take us -->
        <area shape="rect" coords="0,0,200,200" href="about.html" alt="about.html">
    </map>

    <main>
        <h2 style="color: rgb(2,1,1); text-shadow: 1px 1px 10px rgb(73,52,38); font-style:italic;">
            Reset Your Password
        </h2>

        <!--when the user press on submit it will return the value of to see if form is accepted or not the function we did in the scripts-->
        <form name="forgotForm" method="post" action="#" onsubmit="return resetPassword()">


            <label>
                Enter Your Email:
                <input type="email" name="UserE" placeholder="yourEmail@domain.com" required>
            </label>

            <br>

            <label>
                New Password:
                <input type="password" name="NewP" placeholder="**********" required>
            </label>

            <br>

            <label>
                Confirm Password:
                <input type="password" name="ConfirmP" placeholder="**********" required>
            </label>



            <br><input type="submit" value="Submit New password">
            <input type="reset" value="Clear">

        </form>

        <!--a button that will appear after the validation happens and it works-->
        <button id="loginBtn">
            <a href="log-in.html">Go to Login</a>
        </button>

        <br><br>
        <!-- nav links that are buttons-->
        <footer>
            <nav>
                <button><a href="HomePage.html">Home Page</a></button> |
                <button><a href="product info.html">Product Info Page</a></button>  |
                <button><a href="contact.html">Contact Us</a></button> |
                <button><a href="about.html">About Us</a></button>
            </nav>
        </footer>

    </main>

</body>

</html>