
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Services - Our Services</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/project_style.css">
    <style>
        header div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }
        /*title for the services*/
       .service-title {
            font-size: 1.5em; 
            font-weight: bold;
            color: rgb(2, 1, 1); 
            text-shadow: 1px 1px 10px rgb(73, 52, 38); 
            font-style: italic;
            padding: 0 10px;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <nav>
                <!--pages at the top of the services page-->
                <a href="/Home/Index" class="nav-btn">Home Page</a>  |
                <a href="/Home/Login" class="nav-btn">Log In</a> |
                <a href="/Home/Signup" class="nav-btn">Sign Up</a> |
                <a href="/Home/Store" class="nav-btn">Store</a>
            </nav>

        </div>
    </header>
    <main>
        <section>
            <fieldset>
                <legend class="service-title">Our Services</legend>
                <!--this section has a div(product-container) which is the parent of the div which has the product items-->
                <div class="product-container">
                    <div class="product-item">
                        <img src="/images/person.jpg">
                        <h4>Plumber</h4>
                        <h5>Abdullah</h5>
                        <p>13 years of experience<p>
                            <button>Hire</button>
                    </div>
                    <div class="product-item">
                        <img src="/images/person.jpg">
                        <h4>Engineer</h4>
                        <h5>Mohammed</h5>
                        <p>8 years of experience<p>
                            <button>Hire</button>
                    </div>
                    <div class="product-item">
                        <img src="/images/person.jpg">
                        <h4>Electrical Engineer</h4>
                        <h5>Ali</h5>
                        <p>10 years of experience<p>
                            <button>Hire</button>
                    </div>
                    <div class="product-item">
                        <img src="/images/person.jpg">
                        <h4>Architect</h4>
                        <h5>Ahmed</h5>
                        <p>12 years of experience<p>
                            <button>Hire</button>
                    </div>
                </div>
            </fieldset>
        </section>
    </main>
</body>
</html>